<div class="container-register">
    <div class="container-internal-box-register">
        <div class="container-register-text-input">
            <div class="container-title-subtitle-register">
                <div class="container-title-register">
                    <p class="title-register">Crie sua conta</p>
                </div>
                <div class="container-subtitle-register">
                    <p class="subtitle-register">Preencha os campos abaixo</p>
                </div>
            </div>
        </div>
        <div class="container-register-input">

            <div class="container-register-input-default">
                <span class="input-icon">
                    <i class="material-icons" style="color: #C2C2C2;">person</i>
                </span>
                <input type="text" name="nome" class="input-register" placeholder="Digite seu nome">
            </div>

            <div class="container-register-input-default">
                <span class="input-icon">
                    <i class="material-icons" style="color: #C2C2C2;">email</i>
                </span>
                <input type="email" name="email" class="input-register" placeholder="Digite seu e-mail">
            </div>

            <div class="container-register-input-default">
                <span class="input-icon-senha">
                    <i class="material-icons" style="color: #C2C2C2;">lock</i>
                </span>
                <input type="password" name="senha" class="input-register" placeholder="Digite sua senha">
            </div>

            <div class="container-register-input-default">
                <span class="input-icon-senha">
                    <i class="material-icons" style="color: #C2C2C2;">fingerprint</i>
                </span>
                <input type="text" name="cpf" class="input-register" placeholder="Digite seu CPF">
            </div>

            <div class="container-register-input-default">
                <span class="input-icon-senha">
                    <i class="material-icons" style="color: #C2C2C2;">phone</i>
                </span>
                <input type="text" name="telefone" class="input-register" placeholder="Digite seu Telefone">
            </div>

            <button type="submit" class="text-register-btn">Login</button>
            <a class="text-nao-tem-conta" routerLink="/login">Faça Login</a>
        </div>
    </div>
</div>