<section class="container-sobre" id="sobre">
    <div class="container-title-sobre">
        <h1 class="title-sobre">Sobre Delicias da Lili</h1>
    </div>
    <div class="container-text-img-sobre">
        <div class="container-text-sobre">
            <p class="text-sobre">
                Apaixonada por transformar ingredientes simples em momentos inesquecíveis. Cada bolo que faço
                carrega uma pitada de carinho, uma colher generosa de dedicação e muitos sonhos confeitados.
                Comecei minha jornada na confeitaria com receitas de família, misturando tradições com um toque
                pessoal. Hoje, faço bolos sob medida para celebrar o que há de mais doce na vida: aniversários,
                encontros, conquistas e afeto.
                Aqui, cada fatia tem história, cada detalhe é pensado com amor — e o meu maior prazer é ver um
                sorriso a cada mordida. 💕
            </p>
        </div>
        <div class="container-img-sobre">
            <img class="img-sobre" src="assets/Logo_sem_fundo.jpg" alt="">
        </div>
    </div>
</section>