<div class="container-login-info-text">
    <div class="container-text">
        <div class="container-title-info-login">
            <h1 class="title-info-login">Decilias da LiLi</h1>
        </div>
        <div class="container-text-info-login">
            <p class="text-info-login">O lugar aonde sua vida fica mais doce</p>
        </div>
        <button class="container-button-info-login">
            <p class="button-text-info-login" type="button">Saiba Mais</p>
        </button>
    </div>
</div>