<div class="container-info-pedido">
    <div class="container-info-pedido-titles">
        <div class="container-info-title">
            <div class="container-title-number">
                <h1 class="title-number">100 Mil</h1>
            </div>
            <div class="container-title-text">
                <h1 class="title-text">Vendidos</h1>
            </div>
        </div>
        <div class="container-info-title">
            <div class="container-title-number">
                <h1 class="title-number" id="title-text-cancelado">200</h1>
            </div>
            <div class="container-title-text">
                <h1 class="title-text" id="title-text-cancelado">Cancelados</h1>
            </div>
        </div>
        <div class="container-info-title">
            <div class="container-title-number">
                <h1 class="title-number">10 Mil</h1>
            </div>
            <div class="container-title-text">
                <h1 class="title-text">Ganhos</h1>
            </div>
        </div>
        <div class="container-info-title">
            <div class="container-title-number">
                <h1 class="title-number" id="title-text-enviado">500</h1>
            </div>
            <div class="container-title-text">
                <h1 class="title-text" id="title-text-enviado">Enviados</h1>
            </div>
        </div>
    </div>
</div>