<footer>
    <section class="container-info" id="contato">

        <div class="container-logo-contato-endereco">
            <div class="container-logo-texto">
                <div class="container-logo">
                    <img src="assets/logo_sem_fundo_arredondada.png" alt="Logo Arreodndada">
                </div>
                <div class="container-texto-link">
                    <div class="container-texto">
                        <p class="logo-texto">
                            Cada fatia, um carinho feito
                            com amor e açucar
                        </p>
                    </div>
                    <div class="container-link-info">
                        <div class="container-link">
                            <a href="" id="home" class="text-link">Home</a>
                        </div>
                        <div class="container-link" id="especialidade">
                            <a href="" class="text-link">Especialidades</a>
                        </div>
                        <div class="container-link">
                            <a href="" id="blog" class="text-link">Blog</a>
                        </div>
                        <div class="container-link">
                            <a href="" id="contato" class="text-link">Contato</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-contato">
                <div class="container-title-contato">
                    <h1 class="title-contato">Fale Conosco</h1>
                </div>

                <div class="container-icon-contato">
                    <div class="container-icon">
                        <img src="assets/Icons/whatsapp-brown.svg" alt="">
                    </div>
                    <div class="container-text-contato">
                        <p class="text-contato">WhatsApp </p>
                        <p class="text-contato">(11) 9 5918-3225 </p>
                    </div>
                </div>
                <div class="container-icon-contato">
                    <div class="container-icon">
                        <img src="assets/Icons/instagram-brown.svg" alt="">
                    </div>
                    <div class="container-text-contato">
                        <p class="text-contato">Instagram</p>
                        <p class="text-contato">delicias_lili_ofc</p>
                    </div>
                </div>
            </div>

            <div class="container-endereco">
                <div class="container-title-endereco">
                    <h1 class="title-endereco">Onde estamos ?</h1>
                </div>
                <div class="container-info-endereco">
                    <div class="container-text-icon-endereco">
                        <img src="assets/Icons/localizacao.svg" alt="">
                        <p class="text-endereco">Rua Maria Clotilde Martins Rocha, 1127 São Paulo - SP</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="container-direitos">
        <div class="container-text-direitos">
            <p class="container-text-direitos">2025 © Delicias da LiLi | Todos os direitos reservados |
                Feito por:
                Alexsander Sampaio Lima
            </p>
        </div>
        <div class="container-text-politica">
            <p class="text-politica">Politica de Privacidade</p>
        </div>
    </section>

</footer> 