<div class="container-info-estoque">
    <div class="container-info-estoque-titles">
        <div class="container-info-title">
            <div class="container-title-text">
                <h1 class="title-text">Itens em Estoque</h1>
            </div>
            <div class="container-title-number">
                <h1 class="title-number">34</h1>
            </div>
        </div>
        <div class="container-info-title">
            <div class="container-title-text">
                <h1 class="title-text" id="title-text-cancelado">Baixo Estoque</h1>
            </div>
            <div class="container-title-number">
                <h1 class="title-number" id="title-text-cancelado">7</h1>
            </div>
        </div>
        <div class="container-info-title">
            <div class="container-title-text">
                <h1 class="title-text">Este Mês</h1>
            </div>
            <div class="container-title-number">
                <h1 class="title-number">22</h1>
            </div>
        </div>
        <div class="container-info-title">
            <div class="container-title-text">
                <h1 class="title-text" id="title-text-enviado">Custo Total</h1>
            </div>
            <div class="container-title-number">
                <h1 class="title-number" id="title-text-enviado">R$ 3.234,23 </h1>
            </div>
        </div>
    </div>
</div>