<section class="container-sabores" id="sabores">
    <div class="container-title-sabores">
        <p class="title-sabores">Conheça nossos sabores</p>
    </div>
    <div class="container-card-sabores">
        <div class="card-sabores" id="bolos">
            <h1 class="title-card-sabores">BOLOS</h1>
            <button class="button-card-sabores" type="button">
                <p class="title-button-sabores">Saiba mais</p>
            </button>
        </div>
        <div class="card-sabores" id="salgados">
            <h1 class="title-card-sabores">SALGADOS</h1>
            <button class="button-card-sabores" type="button">
                <p class="title-button-sabores">Saiba mais</p>
            </button>
        </div>
        <div class="card-sabores" id="kit-festa">
            <h1 class="title-card-sabores">KIT FESTA </h1>
            <button class="button-card-sabores" type="button">
                <p class="title-button-sabores">Saiba mais</p>
            </button>
        </div>
        <div class="card-sabores" id="doces">
            <h1 class="title-card-sabores">DOCES</h1>
            <button class="button-card-sabores" type="button">
                <p class="title-button-sabores">Saiba mais</p>
            </button>
        </div>
    </div>
</section>