<section class="container-funcionamento">
    <div class="container-text-funcionamento">
        <h1 class="title-funcionamento">
            Como Fucniona meu Atendimento
        </h1>
    </div>
    <div class="container-secoes-atendimento">
        <div class="container-bolo-detalhes">
            <div class="container-bolo">
                <div class="container-title-bolo">
                    <h1 class="title-bolo">Escolha o Bolo Ideal</h1>
                </div>
                <div class="container-icon-text">
                    <div class="container-icon-relogio">
                        <img src="assets/Icons/relogio-icon.svg" alt="icon-relogio">
                    </div>
                    <div class="container-text-bolo">
                        <p class="text-bolo">
                            Vamos te ouvir com atenção, entender sua preferência, temas da festa
                            e o tamanho do evento, oferecendo o bolo perfeito para sua celebração.
                        </p>
                    </div>
                </div>
            </div>

            <div class="container-detalhes">
                <div class="container-title-detalhes">
                    <h1 class="title-detalhes">Detalhes que encantam</h1>
                </div>
                <div class="container-text-icon-detalhes">
                    <div class="container-icon-detalhes">
                        <img src="assets/Icons/check-icon.svg" alt="Icon do check">
                    </div>
                    <div class="container-text-detalhes">
                        <p class="text-detalhes">
                            Oferecemos decorações personalizadas com temas, cores e detalhes exclusivos,
                            criando
                            um
                            bolo que combina perfeitmanete com a sua celebração.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-retorno-agendamento">
            <div class="container-retorno">
                <div class="container-retorno-title">
                    <h1 class="title-retorno">Retorno em até 2 horas</h1>
                </div>
                <div class="container-text-icon-retorno">
                    <div class="container-icon-retorno">
                        <img src="assets/Icons/calendario-icon.svg" alt="">
                    </div>
                    <div class="container-text-retorno">
                        <p class="text-retorno">Agende seu pedido online, com apenas alguns cliques, direto do
                            conforto da sua casa.</p>
                    </div>
                </div>
            </div>

            <div class="container-agendamento">
                <div class="container-title-agendameto">
                    <h1 class="title-agendamento">Agendamento On-line</h1>
                </div>
                <div class="container-text-icon-agendamento">
                    <div class="container-icon-agendamento">
                        <img class="icon-agendamento" src="assets/Icons/whatsapp-icon.svg" alt="">
                    </div>
                    <div class="container-text-agendamento">
                        <p class="text-agendamento">Garanta seu pedido com antecedência! Fazemos entregas de
                            bolos personalizadas em até 3 dias.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>