<header id="Home">
    <div class="container-header">
        <div class="container-header-logo">
            <!-- <img class="header-logo-img" src="assets/Logo_sem_fundo.jpg" alt=""> -->
        </div>

        <div class="hamburguer" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="container-header-titulos">
            <div class="container-header-menu">
                <a class="header-texto" type="button" href="#bannerInicio">Início</a>
            </div>
            <div class="container-header-menu">
                <a class="header-texto" type="button" href="#sabores">Cardápio</a>
            </div>
            <div class="container-header-menu">
                <a class="header-texto" type="button" href="#sobre">Sobre</a>
            </div>
            <div class="container-header-menu">
                <a class="header-texto" type="button" href="#contato">Contato</a>
            </div>
        </div>

        <button type="button" class="button-login">
            <a class="button-login-texto" href="loginPage.html">Login</a>
        </button>
    </div>
</header>
<main>
    <section class="container-banner" id="bannerInicio">
        <!-- <img class="img-banner" src=" assets/img-banner.png" alt="Imagem do banner"> -->
        <div class="container-button-banner">
            <div class="button-banner"></div>
            <div class="button-banner"></div>
            <div class="button-banner"></div>
        </div>
    </section>
    <section class="container-sabores" id="sabores">
        <div class="container-title-sabores">
            <p class="title-sabores">Conheça nossos sabores</p>
        </div>
        <div class="container-card-sabores">
            <div class="card-sabores" id="bolos">
                <!-- <div class="container-info-sabores"> -->
                <h1 class="title-card-sabores">BOLOS</h1>
                <button class="button-card-sabores" type="button">
                    <p class="title-button-sabores">Saiba mais</p>
                </button>
                <!-- </div> -->
            </div>
            <div class="card-sabores" id="salgados">
                <h1 class="title-card-sabores">SALGADOS</h1>
                <button class="button-card-sabores" type="button">
                    <p class="title-button-sabores">Saiba mais</p>
                </button>
            </div>
            <div class="card-sabores" id="kit-festa">
                <h1 class="title-card-sabores">KIT FESTA </h1>
                <button class="button-card-sabores" type="button">
                    <p class="title-button-sabores">Saiba mais</p>
                </button>
            </div>
            <div class="card-sabores" id="doces">
                <h1 class="title-card-sabores">DOCES</h1>
                <button class="button-card-sabores" type="button">
                    <p class="title-button-sabores">Saiba mais</p>
                </button>
            </div>
        </div>
    </section>
    <section class="container-sobre" id="sobre">
        <div class="container-title-sobre">
            <h1 class="title-sobre">Sobre Delicias da Lili</h1>
        </div>
        <div class="container-text-img-sobre">
            <div class="container-text-sobre">
                <p class="text-sobre">
                    Apaixonada por transformar ingredientes simples em momentos inesquecíveis. Cada bolo que faço
                    carrega uma pitada de carinho, uma colher generosa de dedicação e muitos sonhos confeitados.
                    Comecei minha jornada na confeitaria com receitas de família, misturando tradições com um toque
                    pessoal. Hoje, faço bolos sob medida para celebrar o que há de mais doce na vida: aniversários,
                    encontros, conquistas e afeto.
                    Aqui, cada fatia tem história, cada detalhe é pensado com amor — e o meu maior prazer é ver um
                    sorriso a cada mordida. 💕
                </p>
            </div>
            <div class="container-img-sobre">
                <!-- <img class="img-sobre" src="assets/Logo_sem_fundo.jpg" alt=""> -->
            </div>
        </div>
    </section>

    <section class="container-funcionamento">
        <div class="container-text-funcionamento">
            <h1 class="title-funcionamento">
                Como Fucniona meu Atendimento
            </h1>
        </div>
        <div class="container-secoes-atendimento">
            <div class="container-bolo-detalhes">
                <div class="container-bolo">
                    <div class="container-title-bolo">
                        <h1 class="title-bolo">Escolha o Bolo Ideal</h1>
                    </div>
                    <div class="container-icon-text">
                        <div class="container-icon-relogio">
                            <!-- <img src="assets/Icons/relogio-icon.svg" alt="icon-relogio"> -->
                        </div>
                        <div class="container-text-bolo">
                            <p class="text-bolo">
                                Vamos te ouvir com atenção, entender sua preferência, temas da festa
                                e o tamanho do evento, oferecendo o bolo perfeito para sua celebração.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="container-detalhes">
                    <div class="container-title-detalhes">
                        <h1 class="title-detalhes">Detalhes que encantam</h1>
                    </div>
                    <div class="container-text-icon-detalhes">
                        <div class="container-icon-detalhes">
                            <!-- <img src="assets/Icons/check-icon.svg" alt="Icon do check"> -->
                        </div>
                        <div class="container-text-detalhes">
                            <p class="text-detalhes">
                                Oferecemos decorações personalizadas com temas, cores e detalhes exclusivos,
                                criando
                                um
                                bolo que combina perfeitmanete com a sua celebração.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-retorno-agendamento">
                <div class="container-retorno">
                    <div class="container-retorno-title">
                        <h1 class="title-retorno">Retorno em até 2 horas</h1>
                    </div>
                    <div class="container-text-icon-retorno">
                        <div class="container-icon-retorno">
                            <!-- <img src="assets/Icons/calendario-icon.svg" alt=""> -->
                        </div>
                        <div class="container-text-retorno">
                            <p class="text-retorno">Agende seu pedido online, com apenas alguns cliques, direto do
                                conforto da sua casa.</p>
                        </div>
                    </div>
                </div>

                <div class="container-agendamento">
                    <div class="container-title-agendameto">
                        <h1 class="title-agendamento">Agendamento On-line</h1>
                    </div>
                    <div class="container-text-icon-agendamento">
                        <div class="container-icon-agendamento">
                            <!-- <img class="icon-agendamento" src="assets/Icons/whatsapp-icon.svg" alt=""> -->
                        </div>
                        <div class="container-text-agendamento">
                            <p class="text-agendamento">Garanta seu pedido com antecedência! Fazemos entregas de
                                bolos personalizadas em até 3 dias.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
<footer>
    <section class="container-info" id="contato">
        <div class="container-logo-contato-endereco">
            <div class="container-logo-texto">
                <div class="container-logo">
                    <!-- <img src="assets/logo_sem_fundo_arredondada.png" alt="Logo Arreodndada"> -->
                </div>
                <div class="container-texto-link">
                    <div class="container-texto">
                        <p class="logo-texto">
                            Cada fatia, um carinho feito
                            com amor e açucar
                        </p>
                    </div>
                    <div class="container-link-info">
                        <div class="container-link">
                            <a href="" id="home" class="text-link">Home</a>
                        </div>
                        <div class="container-link" id="especialidade">
                            <a href="" class="text-link">Especialidades</a>
                        </div>
                        <div class="container-link">
                            <a href="" id="blog" class="text-link">Blog</a>
                        </div>
                        <div class="container-link">
                            <a href="" id="contato" class="text-link">Contato</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-contato">
                <div class="container-title-contato">
                    <h1 class="title-contato">Fale Conosco</h1>
                </div>

                <div class="container-icon-contato">
                    <div class="container-icon">
                        <!-- <img src="assets/Icons/whatsapp-brown.svg" alt=""> -->
                    </div>
                    <div class="container-text-contato">
                        <p class="text-contato">WhatsApp </p>
                        <p class="text-contato">(11) 9 5918-3225 </p>
                    </div>
                </div>
                <div class="container-icon-contato">
                    <div class="container-icon">
                        <!-- <img src="assets/Icons/instagram-brown.svg" alt=""> -->
                    </div>
                    <div class="container-text-contato">
                        <p class="text-contato">Instagram</p>
                        <p class="text-contato">delicias_lili_ofc</p>
                    </div>
                </div>
            </div>

            <div class="container-endereco">
                <div class="container-title-endereco">
                    <h1 class="title-endereco">Onde estamos ?</h1>
                </div>
                <div class="container-info-endereco">
                    <div class="container-text-icon-endereco">
                        <!-- <img src="assets/Icons/localizacao.svg" alt=""> -->
                        <p class="text-endereco">Rua Maria Clotilde Martins Rocha, 1127 São Paulo - SP</p>
                    </div>
                </div>
            </div>
    </section>

    <section class="container-direitos">
        <div class="container-text-direitos">
            <p class="container-text-direitos">2025 © Delicias da LiLi | Todos os direitos reservados | Feito por:
                Alexsander Sampaio Lima
            </p>
        </div>
        <div class="container-text-politica">
            <p class="text-politica">Politica de Privacidade</p>
        </div>
    </section>

</footer>