<div class="container-dashboard-admin">
    <div class="container-header-dashboard-admin">
        <button type="button">Adicionar Pedido</button>
    </div>
</div>



















<div class="container-form-estoque">
    <div class="container-title-estoque">
        <h1 class="title-estoque">Adicionar Itens ao Estoque</h1>
    </div>
    <div class="container-title-cliente">
        <h1 class="title-cliente">Dados do Cliente</h1>
    </div>

    <form class="container-inputs" action="" method="post">
        <div class="container-form-nome-default">
            <div class="container-default">
                <label for="nomeDoProduto">Nome Do Produto</label>
                <input class="container-input-default" type="text" name="nomeDoProduto"
                    id="nomeDoProduto" placeholder="Ex: Farinha de Trigo">
            </div>
            <div class="container-default">
                <label for="unidadeDeMedida">Unidade de Medida</label>
                <input class="container-input-default" type="text" name="unidadeDeMedida"
                    id="unidadeDeMedida" placeholder="Ex: kg, ml, g">
            </div>
        </div>

        <div class="container-form-nome-default">
            <div class="container-default">
                <label for="tipoDeProduto">Tipo de Produto</label>
                <input class="container-input-default" type="email" name="tipoDeProduto"
                    id="tipoDeProduto" placeholder="Ex: Ingrediente">
            </div>
            <div class="container-default">
                <label for="observacoes">Observações</label>
                <input class="container-input-default" type="text" name="observacoes" id="observacoes"
                    placeholder="Ex: Está faltando comprar mais 6 dessse">
            </div>
        </div>

        <div class="container-form-nome-default">
            <div class="container-default">
                <label for="quantidade">Quantidade</label>
                <input class="container-input-default" type="email" name="quantidade" id="quantidade"
                    placeholder="Ex: 4">
            </div>
            <div class="container-default">
                <label for="custoUnitario">Custo Unitário</label>
                <input class="container-input-default" type="text" name="custoUnitario"
                    id="custoUnitario" placeholder="Ex: 39.99">
            </div>
        </div>

        <div class="container-form-nome-default">
            <div class="container-default">
                <label for="dataCompraProduto">Data da Compra do Produto</label>
                <input class="container-input-default" type="date" name="dataCompraProduto"
                    id="dataCompraProduto" placeholder="Ex: 18/04/2025">
            </div>
        </div>


        <div class="container-btn-submit-form">
            <button class="btn-submit-form" type="submit">Enviar</button>
        </div>
    </form>
</div>