<div class="container-login">
    <div class="container-internal-box-login">
        <div class="container-login-text-input">
            <div class="container-title-subtitle-login">
                <div class="container-title-login">
                    <p class="title-login">Acesse sua conta</p>
                </div>
                <div class="container-subtitle-login">
                    <p class="subtitle-login">Bem-vindo de volta</p>
                </div>
            </div>
        </div>
        <div class="container-login-input">
            <div class="container-login-input-email">
                <span class="input-icon">
                    <img src="assets/Icons/email-icon.svg" alt="Ícone de e-mail">
                </span>
                <input type="email" name="email" id="email-login" placeholder="Digite seu e-mail">
            </div>

            <div class="container-login-input-senha">
                <span class="input-icon-senha">
                    <img src="assets/Icons/senha-icon.svg" alt="Ícone de senha">
                </span>
                <input type="password" name="senha" id="senha-login" placeholder="Digite sua senha">
            </div>
            <button type="button" class="text-login-btn">Login</button>
            <a class="text-esqueci-senha" routerLink="">Esqueci minha senha</a>
            <a class="text-nao-tem-conta" routerLink="/register">Não tem conta ? Clique aqui</a>
        </div>
    </div>
</div>