* {
    box-sizing: border-box;
    margin: 0;
}

.container-principal-header {
    border: 10px solid blue;
}

button {
    outline: none;
    border: none;
    width: 100px;
    height: 100px;
    cursor: pointer;
}